In [1]:
import pandas as pd
import numpy as np

In [33]:
file = "2017-2018+FNDDS+At+A+Glance+-+FNDDS+Nutrient+Values.csv"
df = pd.read_csv(file)
df.dropna()
df.head()

,Food code,Main food description,WWEIA Category number,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),...,20:1\n(g),22:1\n(g),18:2\n(g),18:3\n(g),18:4\n(g),20:4\n(g),20:5 n-3\n(g),22:5 n-3\n(g),22:6 n-3\n(g),Water\n(g)
0,11000000,"Milk, human",9602,Human milk,70,1.03,6.89,6.89,0.0,4.38,...,0.040,0.0,0.374,0.052,0.0,0.026,0.000,0.000,0.0,87.50
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",51,3.34,4.87,4.89,0.0,1.99,...,0.002,0.0,0.069,0.007,0.0,0.003,0.000,0.001,0.0,89.04
2,11111000,"Milk, whole",1002,"Milk, whole",60,3.28,4.67,4.81,0.0,3.20,...,0.004,0.0,0.115,0.012,0.0,0.004,0.001,0.002,0.0,88.10
3,11111100,"Milk, low sodium, whole",1002,"Milk, whole",61,3.10,4.46,4.46,0.0,3.46,...,0.000,0.0,0.078,0.050,0.0,0.000,0.000,0.000,0.0,88.20
4,11111150,"Milk, calcium fortified, whole",1002,"Milk, whole",60,3.28,4.67,4.81,0.0,3.20,...,0.004,0.0,0.115,0.012,0.0,0.004,0.001,0.002,0.0,88.10

In [34]:
df.columns

Index(['Food code', 'Main food description', 'WWEIA Category number',
       'WWEIA Category description', 'Energy (kcal)', 'Protein (g)',
       'Carbohydrate (g)', 'Sugars, total\n(g)', 'Fiber, total dietary (g)',
       'Total Fat (g)', 'Fatty acids, total saturated (g)',
       'Fatty acids, total monounsaturated (g)',
       'Fatty acids, total polyunsaturated (g)', 'Cholesterol (mg)',
       'Retinol (mcg)', 'Vitamin A, RAE (mcg_RAE)', 'Carotene, alpha (mcg)',
       'Carotene, beta (mcg)', 'Cryptoxanthin, beta (mcg)', 'Lycopene (mcg)',
       'Lutein + zeaxanthin (mcg)', 'Thiamin (mg)', 'Riboflavin (mg)',
       'Niacin (mg)', 'Vitamin B-6 (mg)', 'Folic acid (mcg)',
       'Folate, food (mcg)', 'Folate, DFE (mcg_DFE)', 'Folate, total (mcg)',
       'Choline, total (mg)', 'Vitamin B-12 (mcg)',
       'Vitamin B-12, added\n(mcg)', 'Vitamin C (mg)',
       'Vitamin D (D2 + D3) (mcg)', 'Vitamin E (alpha-tocopherol) (mg)',
       'Vitamin E, added\n(mg)', 'Vitamin K (phylloquinone) (mcg)',
       'Calcium (mg)', 'Phosphorus (mg)', 'Magnesium (mg)', 'Iron\n(mg)',
       'Zinc\n(mg)', 'Copper (mg)', 'Selenium (mcg)', 'Potassium (mg)',
       'Sodium (mg)', 'Caffeine (mg)', 'Theobromine (mg)', 'Alcohol (g)',
       '4:0\n(g)', '6:0\n(g)', '8:0\n(g)', '10:0\n(g)', '12:0\n(g)',
       '14:0\n(g)', '16:0\n(g)', '18:0\n(g)', '16:1\n(g)', '18:1\n(g)',
       '20:1\n(g)', '22:1\n(g)', '18:2\n(g)', '18:3\n(g)', '18:4\n(g)',
       '20:4\n(g)', '20:5 n-3\n(g)', '22:5 n-3\n(g)', '22:6 n-3\n(g)',
       'Water\n(g)'],
      dtype='object')

In [35]:
#Removed irrelevant columns
cleaned_df = df[['Main food description','WWEIA Category description','Energy (kcal)', 'Protein (g)','Carbohydrate (g)', 'Sugars, total\n(g)', 'Fiber, total dietary (g)','Total Fat (g)', 'Fatty acids, total saturated (g)', 'Cholesterol (mg)','Vitamin C (mg)','Vitamin D (D2 + D3) (mcg)','Vitamin E (alpha-tocopherol) (mg)', 'Calcium (mg)','Magnesium (mg)', 'Iron\n(mg)','Potassium (mg)', 'Sodium (mg)', 'Caffeine (mg)',]]
# cleaned_df.head(1)
#Rename columns 
cleaned_df = cleaned_df.rename(columns={"Main food description": "Food_description",
                                       "WWEIA Category description": "Food_type",
                                       "Sugars, total\n(g)": "Sugars(g)",
                                       "Fiber,total dietary": "Fiber",
                                       "Fatty acids, total saturated (g)": "Saturated_fat",
                                       "Vitamin D (D2 + D3) (mcg)": "Vitamin_D (mcg)",
                                       "Vitamin E (alpha-tocopherol) (mg)": "Vitamin_E (mg)",
                                       "Iron\n(mg)": "Iron (mg)"
                                        })
                    
cleaned_df.head()

,Food_description,Food_type,Energy (kcal),Protein (g),Carbohydrate (g),Sugars(g),"Fiber, total dietary (g)",Total Fat (g),Saturated_fat,Cholesterol (mg),Vitamin C (mg),Vitamin_D (mcg),Vitamin_E (mg),Calcium (mg),Magnesium (mg),Iron (mg),Potassium (mg),Sodium (mg),Caffeine (mg)
0,"Milk, human",Human milk,70,1.03,6.89,6.89,0.0,4.38,2.009,14,5.0,0.1,0.08,32,3,0.03,51,17,0
1,"Milk, NFS","Milk, reduced fat",51,3.34,4.87,4.89,0.0,1.99,1.164,8,0.1,1.1,0.03,126,12,0.00,157,39,0
2,"Milk, whole","Milk, whole",60,3.28,4.67,4.81,0.0,3.20,1.860,12,0.0,1.1,0.05,123,12,0.00,150,38,0
3,"Milk, low sodium, whole","Milk, whole",61,3.10,4.46,4.46,0.0,3.46,2.154,14,0.9,1.3,0.08,101,5,0.05,253,3,0
4,"Milk, calcium fortified, whole","Milk, whole",60,3.28,4.67,4.81,0.0,3.20,1.860,12,0.0,1.1,0.05,123,12,0.00,150,38,0

In [36]:
#used unique to filter out only fruits later
unique_df = cleaned_df["Food_type"].unique()
#sort for better visibility
unique_df.sort()
unique_df

array(['Apple juice', 'Apples', 'Baby food: cereals', 'Baby food: fruit',
       'Baby food: meat and dinners', 'Baby food: snacks and sweets',
       'Baby food: vegetable', 'Baby food: yogurt', 'Baby juice',
       'Baby water', 'Bacon', 'Bagels and English muffins', 'Bananas',
       'Bean, pea, legume dishes', 'Beans, peas, legumes',
       'Beef, excludes ground', 'Beer', 'Biscuits, muffins, quick breads',
       'Blueberries and other berries', 'Bottled water', 'Broccoli',
       'Burgers (single code)', 'Burritos and tacos',
       'Butter and animal fats', 'Cabbage', 'Cakes and pies',
       'Candy containing chocolate', 'Candy not containing chocolate',
       'Carrots', 'Cereal bars', 'Cheese',
       'Cheese sandwiches (single code)',
       'Chicken patties, nuggets and tenders', 'Chicken, whole pieces',
       'Chicken/turkey sandwiches (single code)', 'Citrus fruits',
       'Citrus juice', 'Coffee', 'Cold cuts and cured meats',
       'Coleslaw, non-lettuce salads', 'Cookies and brownies', 'Corn',
       'Cottage/ricotta cheese', 'Crackers, excludes saltines',
       'Cream and cream substitutes',
       'Cream cheese, sour cream, whipped cream', 'Diet soft drinks',
       'Diet sport and energy drinks', 'Dips, gravies, other sauces',
       'Doughnuts, sweet rolls, pastries', 'Dried fruits',
       'Egg rolls, dumplings, sushi',
       'Egg/breakfast sandwiches (single code)', 'Eggs and omelets',
       'Enhanced or fortified water', 'Fish', 'Flavored milk, lowfat',
       'Flavored milk, nonfat', 'Flavored milk, reduced fat',
       'Flavored milk, whole', 'Flavored or carbonated water',
       'Formula, prepared from concentrate',
       'Formula, prepared from powder', 'Formula, ready-to-feed',
       'Frankfurter sandwiches (single code)', 'Frankfurters',
       'French fries and other fried white potatoes',
       'Fried rice and lo/chow mein', 'Fried vegetables', 'Fruit drinks',
       'Gelatins, ices, sorbets', 'Grapes',
       'Grits and other cooked cereals', 'Ground beef', 'Human milk',
       'Ice cream and frozen dairy desserts', 'Jams, syrups, toppings',
       'Lamb, goat, game', 'Lettuce and lettuce salads',
       'Liquor and cocktails', 'Liver and organ meats',
       'Macaroni and cheese', 'Mango and papaya', 'Margarine',
       'Mashed potatoes and white potato mixtures', 'Mayonnaise',
       'Meat mixed dishes', 'Melons',
       'Milk shakes and other dairy drinks', 'Milk substitutes',
       'Milk, lowfat', 'Milk, nonfat', 'Milk, reduced fat', 'Milk, whole',
       'Mustard and other condiments', 'Nachos',
       'Not included in a food category', 'Nutrition bars',
       'Nutritional beverages', 'Nuts and seeds', 'Oatmeal',
       'Olives, pickles, pickled vegetables', 'Onions',
       'Other Mexican mixed dishes', 'Other dark green vegetables',
       'Other diet drinks', 'Other fruit juice',
       'Other fruits and fruit salads', 'Other red and orange vegetables',
       'Other sandwiches (single code)', 'Other starchy vegetables',
       'Other vegetables and combinations',
       'Pancakes, waffles, French toast',
       'Pasta mixed dishes, excludes macaroni and cheese',
       'Pasta sauces, tomato-based', 'Pasta, noodles, cooked grains',
       'Peaches and nectarines',
       'Peanut butter and jelly sandwiches (single code)', 'Pears',
       'Pineapple', 'Pizza', 'Popcorn', 'Pork', 'Potato chips',
       'Poultry mixed dishes', 'Pretzels/snack mix',
       'Processed soy products', 'Protein and nutritional powders',
       'Pudding', 'Ready-to-eat cereal, higher sugar (>21.2g/100g)',
       'Ready-to-eat cereal, lower sugar (=<21.2g/100g)', 'Rice',
       'Rice mixed dishes', 'Rolls and buns',
       'Salad dressings and vegetable oils', 'Saltine crackers',
       'Sausages', 'Seafood mixed dishes',
       'Seafood sandwiches (single code)', 'Shellfish',
       'Smoothies and grain drinks', 'Soft drinks', 'Soups',
       'Soy-based condiments', 'Spinach', 'Sport and energy drinks',
       'Stir-fry and soy-based sauce mixtures', 'Strawberries',
       'String beans', 'Sugar substitutes', 'Sugars and honey',
       'Tap water', 'Tea', 'Tomato-based condiments', 'Tomatoes',
       'Tortilla, corn, other chips', 'Tortillas',
       'Turkey, duck, other poultry',
       'Turnovers and other grain-based items', 'Vegetable dishes',
       'Vegetable juice', 'Vegetables on a sandwich',
       'White potatoes, baked or boiled', 'Wine', 'Yeast breads',
       'Yogurt, Greek', 'Yogurt, regular'], dtype=object)

In [37]:
#Filter out to keep only fruits
fruits_df = cleaned_df.loc[(cleaned_df["Food_type"] == "Apples") |
                           (cleaned_df["Food_type"] == "Bananas")  |
                           (cleaned_df["Food_type"] == "Citrus fruits") |
                           (cleaned_df["Food_type"] == "Dried fruits") |
                           (cleaned_df["Food_type"] == "Grapes")  |
                           (cleaned_df["Food_type"] == "Melons")  |
                           (cleaned_df["Food_type"] == "Pears")  |
                           (cleaned_df["Food_type"] == "Pineapple")  |
                           (cleaned_df["Food_type"] == "Strawberries") |
                           (cleaned_df["Food_type"] == "Tomatoes")]

fruits_df.head()

,Food_description,Food_type,Energy (kcal),Protein (g),Carbohydrate (g),Sugars(g),"Fiber, total dietary (g)",Total Fat (g),Saturated_fat,Cholesterol (mg),Vitamin C (mg),Vitamin_D (mcg),Vitamin_E (mg),Calcium (mg),Magnesium (mg),Iron (mg),Potassium (mg),Sodium (mg),Caffeine (mg)
5080,"Clementine, raw",Citrus fruits,53,0.81,13.34,10.58,1.8,0.31,0.039,0,26.7,0.0,0.20,37,12,0.15,166,2,0
5081,"Grapefruit, raw",Citrus fruits,42,0.77,10.66,6.89,1.6,0.14,0.021,0,31.2,0.0,0.13,22,9,0.08,135,0,0
5082,"Grapefruit, canned",Citrus fruits,36,0.58,9.15,8.75,0.4,0.10,0.014,0,21.8,0.0,0.09,15,10,0.41,132,2,0
5083,"Kumquat, raw",Citrus fruits,71,1.88,15.90,9.36,6.5,0.86,0.103,0,43.9,0.0,0.15,62,20,0.86,186,10,0
5084,"Lemon, raw",Citrus fruits,29,1.10,9.32,2.50,2.8,0.30,0.039,0,53.0,0.0,0.15,26,8,0.60,138,2,0

In [38]:
#Check to see how many different type of fruits in each fruit's family
fruits_count = fruits_df["Food_type"].value_counts()
fruits_count

Dried fruits     19
Citrus fruits    11
Apples            7
Tomatoes          6
Pineapple         5
Pears             5
Melons            4
Strawberries      3
Bananas           2
Grapes            1
Name: Food_type, dtype: int64

In [39]:
fruits_df = fruits_df.sort_values("Food_type")

In [40]:
#Reset index
fruits_df = fruits_df.reset_index(drop=True)

In [43]:
# fruits_df.to_csv("fruits.csv",index=False)

# New Dataset

In [5]:
#New File
file = "data.csv"
df = pd.read_csv(file)
df.head()

  Description                Nutrient Name Published Date Unit Name  Value
0  Grapefruit                      Protein       4/1/2020         G   0.63
1  Grapefruit            Total lipid (fat)       4/1/2020         G   0.10
2  Grapefruit  Carbohydrate, by difference       4/1/2020         G   8.08
3  Grapefruit                       Energy       4/1/2020      KCAL  32.00
4  Grapefruit               Alcohol, ethyl       4/1/2020         G   0.00

In [4]:
df["Published Date"].unique()

array(['4/1/2020', '4/1/2019', '12/16/2019'], dtype=object)

In [6]:
new_df = df.drop(columns=["Published Date"])
new_df.head()

  Description                Nutrient Name Unit Name  Value
0  Grapefruit                      Protein         G   0.63
1  Grapefruit            Total lipid (fat)         G   0.10
2  Grapefruit  Carbohydrate, by difference         G   8.08
3  Grapefruit                       Energy      KCAL  32.00
4  Grapefruit               Alcohol, ethyl         G   0.00

In [7]:
new_df.loc[(new_df["Description"] == "Grapefruit")]

   Description                       Nutrient Name Unit Name     Value
0   Grapefruit                             Protein         G     0.630
1   Grapefruit                   Total lipid (fat)         G     0.100
2   Grapefruit         Carbohydrate, by difference         G     8.080
3   Grapefruit                              Energy      KCAL    32.000
4   Grapefruit                      Alcohol, ethyl         G     0.000
5   Grapefruit                               Water         G    90.890
6   Grapefruit                            Caffeine        MG     0.000
7   Grapefruit                         Theobromine        MG     0.000
8   Grapefruit        Sugars, total including NLEA         G     6.980
9   Grapefruit                Fiber, total dietary         G     1.100
10  Grapefruit                         Calcium, Ca        MG    12.000
11  Grapefruit                            Iron, Fe        MG     0.090
12  Grapefruit                       Magnesium, Mg        MG     8.000
13  Grapefruit                       Phosphorus, P        MG     8.000
14  Grapefruit                        Potassium, K        MG   139.000
15  Grapefruit                          Sodium, Na        MG     0.000
16  Grapefruit                            Zinc, Zn        MG     0.070
17  Grapefruit                          Copper, Cu        MG     0.047
18  Grapefruit                        Selenium, Se        UG     0.300
19  Grapefruit                             Retinol        UG     0.000
20  Grapefruit                      Vitamin A, RAE        UG    46.000
21  Grapefruit                      Carotene, beta        UG   552.000
22  Grapefruit                     Carotene, alpha        UG     4.000
23  Grapefruit        Vitamin E (alpha-tocopherol)        MG     0.130
24  Grapefruit                 Vitamin D (D2 + D3)        UG     0.000
25  Grapefruit                 Cryptoxanthin, beta        UG     6.000
26  Grapefruit                            Lycopene        UG  1135.000
27  Grapefruit                 Lutein + zeaxanthin        UG     6.000
28  Grapefruit      Vitamin C, total ascorbic acid        MG    34.400
29  Grapefruit                             Thiamin        MG     0.036
30  Grapefruit                          Riboflavin        MG     0.020
31  Grapefruit                              Niacin        MG     0.250
32  Grapefruit                         Vitamin B-6        MG     0.042
33  Grapefruit                       Folate, total        UG    10.000
34  Grapefruit                        Vitamin B-12        UG     0.000
35  Grapefruit                      Choline, total        MG     7.700
36  Grapefruit           Vitamin K (phylloquinone)        UG     0.000
37  Grapefruit                          Folic acid        UG     0.000
38  Grapefruit                        Folate, food        UG    10.000
39  Grapefruit                         Folate, DFE        UG    10.000
40  Grapefruit                    Vitamin E, added        MG     0.000
41  Grapefruit                 Vitamin B-12, added        UG     0.000
42  Grapefruit                         Cholesterol        MG     0.000
43  Grapefruit        Fatty acids, total saturated         G     0.014
44  Grapefruit  Fatty acids, total monounsaturated         G     0.013
45  Grapefruit  Fatty acids, total polyunsaturated         G     0.024

In [15]:
new_fruits_df = new_df.loc[(new_df["Nutrient Name"] == "Protein") |
                           (new_df["Nutrient Name"] == "Total lipid (fat)")  |
                           (new_df["Nutrient Name"] == "Carbohydrate, by difference") |
                           (new_df["Nutrient Name"] == "Water") |
                           (new_df["Nutrient Name"] == "Fiber, total dietary") |
                           (new_df["Nutrient Name"] == "Calcium, Ca") |
                           (new_df["Nutrient Name"] == "Iron, Fe") |
                           (new_df["Nutrient Name"] == "Magnesium, Mg") |
                           (new_df["Nutrient Name"] == "Phosphorus, P") |
                           (new_df["Nutrient Name"] == "Potassium, K") |
                           (new_df["Nutrient Name"] == "Energy") |
                           (new_df["Nutrient Name"] == "Sodium, Na") |
                           (new_df["Nutrient Name"] == "Zinc, Zn") |
                           (new_df["Nutrient Name"] == "Copper, Cu") |
                           (new_df["Nutrient Name"] == "Vitamin E (alpha-tocopherol)") |
                           (new_df["Nutrient Name"] == "Vitamin D (D2 + D3)") |
                           (new_df["Nutrient Name"] == "Vitamin C, total ascorbic acid") |
                           (new_df["Nutrient Name"] == "Cholesterol") |
                           (new_df["Nutrient Name"] == "Fatty acids, total saturated") |
                           (new_df["Nutrient Name"] == "Sucrose") |
                           (new_df["Nutrient Name"] == "Glucose (dextrose)") |
                           (new_df["Nutrient Name"] == "Starch")]
new_fruits_df

     Description                   Nutrient Name Unit Name   Value
0     Grapefruit                         Protein         G   0.630
1     Grapefruit               Total lipid (fat)         G   0.100
2     Grapefruit     Carbohydrate, by difference         G   8.080
3     Grapefruit                          Energy      KCAL  32.000
5     Grapefruit                           Water         G  90.890
...          ...                             ...       ...     ...
2802    Collards    Vitamin E (alpha-tocopherol)        MG   2.260
2803    Collards             Vitamin D (D2 + D3)        UG   0.000
2807    Collards  Vitamin C, total ascorbic acid        MG  35.300
2821    Collards                     Cholesterol        MG   0.000
2822    Collards    Fatty acids, total saturated         G   0.055

[996 rows x 4 columns]

In [22]:
filtered_df = new_fruits_df.groupby(["Description","Nutrient Name"]).sum().squeeze().unstack()
filtered_df.head()

Nutrient Name,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,"Copper, Cu",Energy,"Fatty acids, total saturated","Fiber, total dietary",Glucose (dextrose),"Iron, Fe","Magnesium, Mg",...,Protein,"Sodium, Na",Starch,Sucrose,Total lipid (fat),"Vitamin C, total ascorbic acid",Vitamin D (D2 + D3),Vitamin E (alpha-tocopherol),Water,"Zinc, Zn"
Description,,,,,,,,,,,,,,,,,,,,,
Abiyuch,8.0,17.60,NaN,0.057,359.0,0.014,5.3,4.50,1.61,24.0,...,1.50,20.0,NaN,0.05,0.10,54.1,NaN,NaN,79.90,0.31
Apple,6.0,13.81,0.0,0.027,52.0,0.028,2.4,NaN,0.12,5.0,...,0.26,1.0,NaN,NaN,0.17,4.6,0.0,0.18,85.56,0.04
Apricot,13.0,11.12,0.0,0.078,48.0,0.027,2.0,NaN,0.39,10.0,...,1.40,1.0,NaN,NaN,0.39,10.0,0.0,0.89,86.35,0.20
Apricots,13.0,11.12,0.0,0.078,249.0,0.027,2.0,2.37,0.39,10.0,...,1.40,1.0,NaN,5.87,0.39,10.0,0.0,0.89,86.35,0.20
Arrowhead,10.0,20.23,0.0,0.171,513.0,NaN,NaN,NaN,2.57,51.0,...,5.33,22.0,NaN,NaN,0.29,1.1,0.0,NaN,72.48,0.28

In [25]:
filtered_df = filtered_df.fillna(0)
filtered_df.head()

Nutrient Name,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,"Copper, Cu",Energy,"Fatty acids, total saturated","Fiber, total dietary",Glucose (dextrose),"Iron, Fe","Magnesium, Mg",...,Protein,"Sodium, Na",Starch,Sucrose,Total lipid (fat),"Vitamin C, total ascorbic acid",Vitamin D (D2 + D3),Vitamin E (alpha-tocopherol),Water,"Zinc, Zn"
Description,,,,,,,,,,,,,,,,,,,,,
Abiyuch,8.0,17.60,0.0,0.057,359.0,0.014,5.3,4.50,1.61,24.0,...,1.50,20.0,0.0,0.05,0.10,54.1,0.0,0.00,79.90,0.31
Apple,6.0,13.81,0.0,0.027,52.0,0.028,2.4,0.00,0.12,5.0,...,0.26,1.0,0.0,0.00,0.17,4.6,0.0,0.18,85.56,0.04
Apricot,13.0,11.12,0.0,0.078,48.0,0.027,2.0,0.00,0.39,10.0,...,1.40,1.0,0.0,0.00,0.39,10.0,0.0,0.89,86.35,0.20
Apricots,13.0,11.12,0.0,0.078,249.0,0.027,2.0,2.37,0.39,10.0,...,1.40,1.0,0.0,5.87,0.39,10.0,0.0,0.89,86.35,0.20
Arrowhead,10.0,20.23,0.0,0.171,513.0,0.000,0.0,0.00,2.57,51.0,...,5.33,22.0,0.0,0.00,0.29,1.1,0.0,0.00,72.48,0.28

In [21]:
# filtered_df.to_csv("fruits_updated.csv")

# Use updated csv to clean up data somemore

In [27]:
path = "fruits_updated.csv"
fruits_df = pd.read_csv(path)
fruits_df.head()

,Description,"Calcium, Ca","Carbohydrate, by difference",Cholesterol,"Copper, Cu",Energy,"Fatty acids, total saturated","Fiber, total dietary",Glucose (dextrose),"Iron, Fe",...,Protein,"Sodium, Na",Starch,Sucrose,Total lipid (fat),"Vitamin C, total ascorbic acid",Vitamin D (D2 + D3),Vitamin E (alpha-tocopherol),Water,"Zinc, Zn"
0,Abiyuch,8.0,17.60,0.0,0.057,359.0,0.014,5.3,4.50,1.61,...,1.50,20.0,0.0,0.05,0.10,54.1,0.0,0.00,79.90,0.31
1,Apple,6.0,13.81,0.0,0.027,52.0,0.028,2.4,0.00,0.12,...,0.26,1.0,0.0,0.00,0.17,4.6,0.0,0.18,85.56,0.04
2,Apricot,13.0,11.12,0.0,0.078,48.0,0.027,2.0,0.00,0.39,...,1.40,1.0,0.0,0.00,0.39,10.0,0.0,0.89,86.35,0.20
3,Apricots,13.0,11.12,0.0,0.078,249.0,0.027,2.0,2.37,0.39,...,1.40,1.0,0.0,5.87,0.39,10.0,0.0,0.89,86.35,0.20
4,Arrowhead,10.0,20.23,0.0,0.171,513.0,0.000,0.0,0.00,2.57,...,5.33,22.0,0.0,0.00,0.29,1.1,0.0,0.00,72.48,0.28

In [28]:
fruits_df.columns

Index(['Description', 'Calcium, Ca', 'Carbohydrate, by difference',
       'Cholesterol', 'Copper, Cu', 'Energy', 'Fatty acids, total saturated',
       'Fiber, total dietary', 'Glucose (dextrose)', 'Iron, Fe',
       'Magnesium, Mg', 'Phosphorus, P', 'Potassium, K', 'Protein',
       'Sodium, Na', 'Starch', 'Sucrose', 'Total lipid (fat)',
       'Vitamin C, total ascorbic acid', 'Vitamin D (D2 + D3)',
       'Vitamin E (alpha-tocopherol)', 'Water', 'Zinc, Zn'],
      dtype='object')

In [42]:
fruits_df = fruits_df.rename(columns={"Calcium, Ca": "Calcium (mg)",
                                      "Carbohydrate, by difference": "Carbohydrate (g)",
                                      "Copper, Cu": "Copper (mg)",
                                      "Energy": "Energy (kcal)",
                                      "Fatty acids, total saturated": "Saturated_fat (g)",
                                      "Fiber, total dietary": "Fiber total dietary (g)",
                                      "Glucose (dextrose)": "Glucose (g)",
                                      "Iron, Fe": "Iron (mg)",
                                      "Magnesium, Mg": "Magnesium (mg)",
                                      "Phosphorus, P": "Phosphorus (mg)",
                                      "Potassium, K": "Potassium (mg)",
                                      "Protein": "Protein (g)",
                                      "Sodium, Na": "Sodium (mg)",
                                      "Total lipid (fat)": "Total Fat (g)",
                                      "Vitamin C, total ascorbic acid": "Vitamin C (mg)",
                                      "Vitamin D (D2 + D3)": "Vitamin D (ug)",
                                      "Vitamin E (alpha-tocopherol)": "Vitamin E (mg)",
                                      "Zinc, Zn": "Zinc",
                                      "Water": "Water (g)",
                                      "Sucrose": "Sucrose (g)",
                                      "Starch": "Starch (g)",
                                      "Zinc, Zn": "Zinc (mg)"
                                     })

fruits_df.head()

,Description,Calcium (mg),Carbohydrate (g),Cholesterol,Copper (mg),Energy (kcal),Saturated_fat (g),Fiber total dietary (g),Glucose (g),Iron (mg),...,Protein (g),Sodium (mg),Starch (g),Sucrose (g),Total Fat (g),Vitamin C (mg),Vitamin D (ug),Vitamin E (mg),Water (g),Zinc
0,Abiyuch,8.0,17.60,0.0,0.057,359.0,0.014,5.3,4.50,1.61,...,1.50,20.0,0.0,0.05,0.10,54.1,0.0,0.00,79.90,0.31
1,Apple,6.0,13.81,0.0,0.027,52.0,0.028,2.4,0.00,0.12,...,0.26,1.0,0.0,0.00,0.17,4.6,0.0,0.18,85.56,0.04
2,Apricot,13.0,11.12,0.0,0.078,48.0,0.027,2.0,0.00,0.39,...,1.40,1.0,0.0,0.00,0.39,10.0,0.0,0.89,86.35,0.20
3,Apricots,13.0,11.12,0.0,0.078,249.0,0.027,2.0,2.37,0.39,...,1.40,1.0,0.0,5.87,0.39,10.0,0.0,0.89,86.35,0.20
4,Arrowhead,10.0,20.23,0.0,0.171,513.0,0.000,0.0,0.00,2.57,...,5.33,22.0,0.0,0.00,0.29,1.1,0.0,0.00,72.48,0.28

In [39]:
# fruits_df.to_csv("fruits_1.csv",index=False)